* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #F4F4F4;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

body::before {
    content: "";
    display: block;
    height: 60px;
}

.capa {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.slides img{
    width: 100%;
    display: none;
}

.slides img.active{
    display: block;
}

button.antes, button.depois {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #036602;
    border: none;
    padding: 20px;
    cursor: pointer;
}

button.antes{
    left: 0;
}

button.depois{
    right: 0;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.visit-button {
    background-color: #044A03;
    color: white;
    padding: 3px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    transition: background-color 0.3s;
    display: inline-block;
    margin-left: auto;
    top: 15%; 
    transform: translateY(-50%);
    right: 0;
}

.visit-button:hover {
    background-color: #036602;
}

.submenu-list {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 100%;
    transform: translateX(-50%);
    width: 110vw; 
    display: flex;
    justify-content: center; 
    flex-direction: row;
}

.submenu-list li {
    padding: 10px;
}

.submenu-list li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 20px;
}

.nav-item {
    position: relative;
}

.nav-item.submenu.open .submenu-list {
    display: flex;
    width: auto;
}
        
h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0 0 10px 0;
    font-size:2rem;
    text-align: left;
    color:#044A03;
}

h2{
    font-weight: 700;
    font-size:1.5rem;
    color:#044A03;
    margin: 0 0 10px 0;
    transition: color 0.8s ease; 
    font-family: 'Poppins', sans-serif; 
    text-align: left;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size:1.025rem;
    margin: 0 0 10px 0;
    color:#044A03;
    text-align: left;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0 0 10px 0;
    color:white;
    margin-top: 10px;
}

p{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color:#044A03;
    font-size: 0.7rem;
    margin-top: 5px;
    color: black;
    font-weight: 300;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover; 
}

.nav-logo {
    position: absolute;
    left: 20px;
    top:20%;
    transform: translateY(-20%);
}

.nav-logo img {
    width: 65px; 
    height: 65px;
    border-radius: 0; 
}

.nav-list{
    display: flex;
    width: 70%;
    justify-content: center;
    flex-grow: 1; 
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3px;
}

.nav-list li {
    display: inline-block;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 0.7rem;
    text-align: center;
    right: 50px;
    gap: 1px;
}

nav {
    flex-grow: 1;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #044A03;
}

main {
    padding: 5px;
    margin-top: 0px;
}

section {
    margin: 5px 0;
    padding: 45px 0;
    background: transparent;
}

.espaco-pilares{
    background: transparent;
    display: flex;
    align-items: center;
}

.carousel-container {
    width: 100%;
    max-width:100%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.carousel-item {
    flex: 1 0 32.3%;
    margin-right: 15px;
    position: relative;
    text-align: center;
    background: transparent;
    border-radius: 15px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-item:hover img {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

a:nth-child(1) {
    transform: translateY(0px);
}

a:nth-child(2) {
    transform: translateY(60px);
}

a:nth-child(3) {
    transform: translateY(120px);
}
       
.espaco-carrossel {
    background: transparent;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.outer-container {
    background: transparent;
    width: 380px;
    padding: 20px;
    border-radius: 0px;
    transition: background-color 0.5s ease;
    text-align: center;
}

.image-container {
    position: relative;
    width: 100%;
    height: 530px;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.8s ease; 
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: border-radius 0.8s ease; 
}

.plus-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #008000;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.outer-container:hover {
    background-color: #008000;
}

.outer-container:hover .plus-icon {
    background-color: #80ff80;
    color: #006600;
    border: 2px solid #006600;
}

.outer-container:hover .image-container img {
    border-radius: 0px; 
}

.outer-container:hover h3 {
    color: white;
}

.outer-container:hover .plus-icon {
    background-color: #80ff80;
    color: #006600;
    border: 2px solid #006600;
}

.outer-container:hover .image-container img {
    border-radius: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.galeria-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 5px;
    padding: 5px;
    line-height: 0;
}

.galeria-container img {
    width: 350px;  
    height: 350px; 
    object-fit: cover; 
    border: 0.5px solid #036602; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 0.4px; 
}

.instagram-link{
    display: inline-block;
    margin-top: 20px;
    font-size: 0.8rem;
    background-color: #036602;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    width: 27%;
}

.instagram-link:hover{
    background-color: #008000;
}

.mapa {
    display: flex;
    justify-content: center;
    border: 3px solid green;
    border-radius: 15px;
    max-width: 400px;
    height: 300px;
    margin: 0 auto; 
}

.mapa iframe {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

footer {
    background-color: #333;
    color: white;
    padding: 5px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.footer-content {
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    font-size: 18px;
}

.footer-section {
    color: white;
    padding: 0px;
    flex: 1;
    margin: 0 20px;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    color: #97a197;
}

.footer-bottom {
    color: white;
    text-align: center;
    margin-top: 20px; 
}

footer .social-media a{
    font-size: 45px;
}

.contato, .direitos{
    color:white;
    font-size: 18px;
}

.direitos a{
    text-decoration: none;
    color: white;
}

.direitos a:hover{
    color: #97a197;;
}

.banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    z-index: 1000;
}
  
.banner p {
    margin: 0;
    padding-right: 10px;
}
  
.banner button {
    background-color: #044A03;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}
  
.banner button:hover {
    background-color: #008000;
}

@media screen and (max-width: 768px) {
    html{
        font-size: 15px;
    }

    body{
        font-size: 1rem;
    }
        
    main {
        padding: 25px;
        margin-top: 0px;
    }

    header {
        height: 60px;
        padding: 8px 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem; 
    }

    h3{
        font-size:0.8rem;
    }

    h4{
        font-size:0.6rem;
    }

    p {
        font-size: 0.5rem; 
    }

    .nav-logo {
        position: absolute;
        left: 20px;
        top:15%;
        transform: translateY(-20%);
    }
    
    .nav-logo img {
        width: 65px; 
        height: 65px;
        border-radius: 0; 
    }

    nav ul {
        flex-direction: column;
    }
    
    .carousel-container {
        width: 100%;
        max-width:100%;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    
    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
        will-change: transform;
    }

    .carousel-item {
        flex: 0 0 50%;
        margin-right: 15px;
        position: relative;
        text-align: center;
        background-color: #f4f4f4;
        border-radius: 15px;
    }

    .prev, .next {
        display: none;
    }

    .prev {
        left: 5px;
    }
    
    .next {
        right: 5px;
    }
            
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    
    .nav-item {
        display: none;
    }
    
    .mobile-menu-icon {
        background-color: rgba(0, 0, 0, 0.1);
        position:absolute;
        top:15%;
        right:5%;
        display: none;
        padding:0.5px;
        border-radius: 25%;
    }

    .mobile-menu {
        background-color: #f4f4f4;
        width: 150px;
        border-radius:15px;
        right: 0;
        padding:10px;
        display: none;
        margin-top: 50%;
        margin-right:1%;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu.open {
        display: block;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .visite-button {
        display: block;
        padding: 1rem 2rem;
    }
    
    .mobile-menu .visite-button button {
        width: 100%;
    }

    .visit-button {
        position: static;
        margin: 0 auto;
        order: 2;
    }

    .visit-button button {
        border: none;
        border-radius: 5px;
        background-color: #044A03;
        color:white;
    }

    .visit-button button a {
        border:none;
        text-decoration: none;
        font-weight: 400;
    }

    .visit-button:hover {
        background-color: #036602;
    }

    .nav-logo img {
        width: 65px; 
        height: 65px;
    }

    section {
        padding: 25px;
        margin: 5px 0;
    }

    .espaco-carrossel {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
    }
    
    .outer-container {
        width: 100%;
        padding: 10px;
        flex: 0 0 100%; 
        max-width: none;
    }
    
    .image-container {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        transition: background-color 0.3s ease, transform 0.8s ease; 
    }

    a:nth-child(1) {
        transform: translateY(0px);
    }
    
    a:nth-child(2) {
        transform: translateY(0px);
    }
    
    a:nth-child(3) {
        transform: translateY(0px);
    }
        
    .plus-icon {
        top: 5px;
        right: 5px;
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
             
    .nav-list {
        display: none;
    }

    .nav-list li {
        padding: 10px 0;
    }

    .nav-list.active {
        display: flex;
    }

    .galeria-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        gap: 2px;
        line-height: 0; 
        margin: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    .galeria-container img {
        width: 170px;  
        height: 170px; 
        object-fit: cover; 
        border: 0.5px solid #036602; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        margin: 0.4px; 
    }

    footer {
        padding: 10px;
        flex-direction: column;
    }

    .footer-content {
        flex-direction: column; 
        align-items: center;
        width: 100%; 
        font-size: 14px;
    }
    .footer-section {
        font-size:12px;
        margin: 10px 0;
    }
    .footer-section h2 {
        font-size: 1.5rem;
    }
    .footer-bottom {
        margin-top: 10px;
    }
    
    footer .social-media a{
        font-size: 20px;
    }
    
    .contato, .direitos{
        font-size: 12px;
    }

}

@media screen and (max-width: 480px) {
   
    html, body {
        font-size: 14px;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    main {
        padding: 20px;
        margin-top: 0;
    }

    header {
        height: 60px;
        padding: 8px 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.45rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }

    .nav-logo {
        position: absolute;
        left: 20px;
        top:15%;
        transform: translateY(-20%);
    }
    
    .nav-logo img {
        width: 60px; 
        height: 60px;
        border-radius: 0; 
    }

    .mobile-menu-icon {
        position: absolute;
        top: 10%;
        right: 3%;
        display: block;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.125px;
        border-radius: 25%;
    }

    .mobile-menu {
        background-color: #f4f4f4;
        width: 200px;
        border-radius: 10px;
        padding: 8px;
        display: none;
        margin-top: 70%;
        gap: 10px;
    }

    .visit-button {
        margin: 0 auto;
    }

    .visit-button:hover {
        background-color: #036602;
    }

    nav ul {
        flex-direction: column;
    }

    .espaco-carrossel {
        height: auto;
        display: flex;
        justify-content: flex-start;  
        align-items: center;
        width: 100%;
        max-width: 100%;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
        overflow-x: auto; 
        padding: 10px;
        flex-wrap: wrap;
    }
    
    .outer-container {
        margin-right: 0px;
        position: relative;
        text-align: center;
    }
    .image-container {
        width: 100%;
        height: auto;
        flex-shrink: 0; 
        padding: 30px;
        transition: background-color 0.3s ease, transform 0.8s ease;
    }
    
    .plus-icon {
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    a:nth-child(1) {
        transform: translateY(0px);
    }
    
    a:nth-child(2) {
        transform: translateY(0px);
    }
    
    a:nth-child(3) {
        transform: translateY(0px);
    }

    .carousel-container {
        width: 50vh;
        max-width:100%;
        margin: 20px 0;
        overflow: hidden;
        position: relative;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    
    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
        will-change: transform;
    }

    .carousel-item {
        flex: 1 0 97%;
        margin-right: 15px;
        position: relative;
        text-align: center;
        background-color: #f4f4f4;
        border-radius: 15px;
    }

    .prev, .next {
        display: none;
    }

    section{
        padding: 20px;
    }
    
    .image-container {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        scroll-snap-align: start;
        transition: background-color 0.3s ease, transform 0.8s ease;
    }

    .espaco-carrossel img {
        width: 100%;
        height: auto;
    }
    
    .espaco-carrossel, .outer-container, .image-container {
        margin: 0;
        padding: 0;
        overflow-x: hidden; 
    }
    
    .instagram-link{
        font-size: 0.7rem;
        background-color: #036602;
        text-decoration: none;
        color: white;
        border-radius: 10px;
        width: 33.3%;
    }

    .galeria-container {
        width: 100%;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        gap: 2px;
        line-height: 0; 
        margin: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    .galeria-container img {
        width: 125px;  
        height: 125px; 
        object-fit: cover; 
        border: 0.5px solid #036602; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        margin: 0.4px;
    }

    footer {
        padding: 10px;
        flex-direction: column; 
    }

    .footer-content {
        flex-direction: column;
        align-items: center; 
        width: 100%; 
        font-size: 12px; 
    }
    
    .footer-section {
        font-size: 12px;
        margin-top: 10px 0;
    }
    
    .footer-section h2 {
        font-size: 1.2rem;
    }
    
    .footer-section ul li {
        margin: 3px 0; 
    }

    footer .social-media {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    footer .social-media a {
        font-size: 18px; 
    }

    .contato,
    .direitos {
        font-size: 11px;
    
    }
    section{
        padding: 30px;
    }
}